$max-width: 1024px;

.header {
  max-width: $max-width;
  margin: 0 auto;
  font-family: 'Indie Flower', cursive;
  font-size: 58px;
  padding: 20px 0;
  color: #efc3e6;

  * {
    font-family: 'Indie Flower', cursive;
    color: #efc3e6;
    text-decoration: none;
  }
}

.container {
  max-width: $max-width;
  margin: 0 auto;
}

.footer {
  max-width: $max-width;
  margin: 0 auto;
  min-height: 100px;
  padding: 20px 0;
  display: flex;
  align-items: center;

  .social-media {
    font-size: 22px;
    
    li {
      float: left;
      margin: 0 10px;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }

      a {
        text-decoration: none;
        color: #a663cc;
      }
    }
  }
}
